# Claves maestras docentes privadas
*_master.json

# Caches de Python
__pycache__/
*.py[cod]

# Salidas y artefactos generados localmente por pruebas
soluciones_demo/*.img
soluciones_demo/*.ext4
soluciones_demo/*.txt
soluciones_demo/demo_origen.txt
soluciones_demo/demo_duro.txt
soluciones_demo/demo_simbolico.txt
!soluciones_demo/.gitkeep
!soluciones_demo/respuestas_tp3.json

# Editores y SO
.DS_Store
Thumbs.db
.vscode/
.idea/
